.tile-closed {
    -fx-background-color: rgba(247, 242, 242, 0.1); /* Initial background color */
}

.tile-open {
    -fx-background-color: rgba(247, 242, 242, 0.3); /* Background color after opening */
    -fx-background-insets: 0, 0; /*This fixes a potential issue with the insets in the buttons*/
    -fx-transition-property: -fx-background-color; /* Transition effect */
    -fx-transition-duration: 150ms;
}

.tile-number {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-opacity: 0.9; /* Text opacity */
}